.wrapper .sidenav {
    position: fixed;
    left: 0;
    top: 0;
    width: 20vw;
    height: 100vh;
    background: #231f20;
}

.wrapper .sidenav h1 {
    color: #fff;
    text-align: center;
    line-height: 90px;
    border-bottom: 1px dotted #fff;
    margin-bottom: 50px;
}

.wrapper .sidenav ul li {
    list-style: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.wrapper .sidenav ul li a {
    font-size: 16px;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 35px;
}

.wrapper .sidenav ul li:hover  {
    background-color: rgba(0, 0, 0, 0.5);
}

.active a{
    text-decoration: underline;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 30px #fff,
                 0 0 40px #fff;
}

.wrapper .sidenav .social-media {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    font-size: 25px;
    display: flex;
    height: 50px;

}

.wrapper .sidenav .social-media a {
    margin: 0 15px;
    background: #575051;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .sidenav .social-media a:hover {
    transition: 0.5s;
    transform: rotate(360deg);
}

a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.fa-home, .fa-wrench, .fa-briefcase, .fa-file, .fa-address-book{ 
    margin-right: 10px;
}